
body {
    background-color: lightskyblue;
}

button.unbuyable {
    background-color: gray;
}

button.buyable {
    background-color: lightgreen;
}

button.bought {
    background-color: green;
}

button {
    padding: 10px;
    margin: 7px;
}

#click {
    background-color: lightgreen;
    padding: 25px; 
}

p {
    color: green;
}
